
@{
    ViewBag.Title = "Index";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đăng bài viết</h1>
            </div>
            <div class="col-sm-6" style="text-align:right">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href='@Url.Action("Index","Dashboard")'>Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đăng bài viết</li>

                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Thông tin chính</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên bài viết</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Tên bài viết tối đa 30 kí tự">
                        </div>
                        <div class="form-group">
                            <label for="ndtt">Nội dung tóm tắt</label>
                            <textarea rows="5" class="form-control" placeholder="Nội dung tóm tắt không quá 100 kí tự"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Ngày đăng</label>
                                    <input class="form-control" rows="3" disabled="disabled" id="exampleInputEmail1" placeholder="Nhập ngày đăng "></input>
                                </div>
                                <div class="form-group">
                                    <label>Tài khoản</label>
                                    <input class="form-control" disabled="disabled" id="exampleInputEmail1" placeholder="Nhập tài khoản   "></input>
                                </div>
                                <div class="form-group">
                                    <label>Số lần đọc </label>
                                    <input class="form-control" disabled="disabled" id="exampleInputEmail1"></input>
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-6"><br/>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Kiểm duyệt bài viết</label>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
        <!-- right column -->
        <div class="col-md-4">
            <!-- general form elements disabled -->
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Hình đại diện</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <label for="exampleInputFile">File input</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            <span class="input-group-text" id="">Upload</span>
                        </div>
                       
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.card-body -->
            <div class="col-md-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">
                            Giới thiệu chi tiết về sản phẩm
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body pad">
                        <div class="mb-3">
                            <textarea class="textarea" placeholder="Place some text here"
                                      style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                        <p class="text-sm mb-0">
                            Editor <a href="https://github.com/bootstrap-wysiwyg/bootstrap3-wysiwyg">
                                Documentation and license
                                information.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
<script src="https://cnd.tiny.cloud/1/yozo7vhbzw27l9dd7e8htwtiozsr60p3wm2v973hgr79kk6zz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#VungSoanThao',
        plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
        toolbar_mode: 'floating',
        tinymcomments_mode: 'embedded',
        tinymcomments_author: 'Author name',
    });
</script>