@{
    ViewBag.Title = "Index";
}
<div class="hero-wrap hero-bread" style="background-image: url(../Content/images/logo3.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ</a></span>
                <h1 class="mb-0 bread">Giới Thiệu</h1>
            </div>
        </div>
    </div>
</div><br />

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../Content/images/about.jpg);">
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Chào mừng đã đến với AioBara *_*</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>Rau có rất nhiều lợi ích. Một trong những lợi ích sức khỏe chính của rau là hàm lượng chất dinh dưỡng cao. Rau chứa nhiều vitamin và khoáng chất góp phần tăng trưởng và duy trì sức khỏe tốt. Một lợi ích đáng kể khác của rau là chất xơ. Chất xơ là một chất dinh dưỡng quan trọng chỉ có trong thực phẩm thực vật. Rau cũng là một lợi ích cho người ăn kiêng. Bởi vì chúng thường ít chất béo và calo nên bạn có thể ăn nhiều chúng mà không bị tăng cân.</p>
                    <p>Nếu bạn thay thế rau bằng các loại thực phẩm khác có hàm lượng calo cao hơn trong chế độ ăn uống của mình, bạn sẽ cắt giảm lượng calo và chất béo nạp vào, giúp việc kiểm soát cân nặng trở nên dễ dàng hơn. Chất xơ trong rau cũng giúp bạn kiểm soát cân nặng. Chất xơ khiến bạn cảm thấy no lâu hơn, giúp bạn ăn ít hơn và hỗ trợ giảm hoặc duy trì cân nặng. Tóm lại, rau rất tốt cho sức khỏe của chúng ta.</p>
                    <p><a href="#" class="btn btn-primary">Mua ngay</a></p>
                </div>
            </div>
        </div>
    </div>
</section><br />

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(../Content/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="10000">0</strong>
                                <span>Happy Customers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="100">0</strong>
                                <span>Branches</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="1000">0</strong>
                                <span>Partner</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="100">0</strong>
                                <span>Awards</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Free Shipping</h3>
                        <span>On order over $100</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Always Fresh</h3>
                        <span>Product well package</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Superior Quality</h3>
                        <span>Quality Products</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Support</h3>
                        <span>24/7 Support</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>